canvas {
  display: block;
  margin: 100px auto 50px;
  background-color: #efefef;
  box-shadow: 2px 2px 2px #efefef, 5px 5px 5px #b9b9b9;
}
#step {
  width: 75px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}
#rollback {
  width: 75px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #000;
  text-align: center;
}
#restart {
  width: 75px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #000;
  text-align: center;
}